.content {
    margin: 0 5% 0 5%;
}

/* make text blink */

.typewriter {
    font-family: 'Waiting for the Sunrise', cursive;
    display: flex;
    font-size: 35px; 
    
    /* navigation bar is 40px in height */
    padding: 140px 50px 100px 50px; 
    letter-spacing: 6px;
    font-weight: bold;

    justify-content: center;
    align-items: center;

    /* border: solid black 1px; */
    background-color:  rgb(245, 245, 245);
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: inherit;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: inherit;
    font-weight: 700;
    border-right: 2px solid black;
    box-sizing: border-box;
    /* border: solid black 1px; */
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 60% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: black; 
    }
}
