* {
    box-sizing: border-box;
}

.times-new-roman {
    font-family: 'Times New Roman', Times, serif;
}

.title {
    text-align: center;
    font: larger;
    border-bottom: 3px solid black;
}

.sub-title {
    font-style: italic;
    text-align: center;
}

.textbox {
    padding: 0 10px;
    border-right: 1px solid black;
}

.row {
    display: flex;
    flex-direction: row;
    border-left: 1px solid black;
    width: 100%;
    align-items: stretch;
    border-bottom: 3px solid black;
}

.column {
    display: flex;
    flex-direction: column;
}

.width25{
    width: 25%;
}

.width50{
    width: 50%;
}

img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topics {
    width: 75%;
    border-right: 1px solid black;
}

.topic {
    height: 20%;
    font-size: 18pt;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.politics {
    background-color: #ffeaa7;
}

.tech{
    background-color: #81ecec;
}

.local{
    background-color: #55edc4;
}

.opinion {
    background-color: #74baff;
}

.sports{
    background-color: #a29bff;
}

a {
    color: gray;
    padding: 30px;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: none;
}

a:hover {
    text-decoration: underline;
}