 * {
     box-sizing: border-box;
 }

.calculator {
    width: 400px;
    height: 600px;
}

.screen {
    width: 100%;
    background-color: black;
    color: white;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25pt;
    height: 16.6%;
    line-height: 70px;
    padding: 20px 10px;
}

.quarter {
    width: 25%
}

.half {
    width: 50%;
}

.three-quarter {
    width: 75%;
}

.button-row {
    width: 100%;
    height: 16.6%;
    display: flex;
    flex-direction: row;
}

.calc-button {
    background-color: #D8D9DB;
    color: black;
    font-size: 28pt;
}

.calc-button:hover {
    background-color: #EBEBEB;
}

.calc-button:last-child {
    background-color: #DF974C;
    color: white;
}

.calc-button:last-child:hover {
    background-color: #DFB07E;
}